/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
